/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
  background-color: #000;
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: var(--spacing-l);
  width: 100%;

  &__cover,
  &__details {
    padding: var(--spacing-m);
    text-align: bottom;
    width: 100%;
    
    
  }

  &__cover {
  position: fixed;
  left: 400px;
 
  }

  &__image {
    height: 1080px;
    width: 1080px;
    animation: fadeinout 21s linear infinite;
  }

  @keyframes fadeinout {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
  &__details {
    text-align: center;
  }

  &__track {
    font-weight: var(--font-weight-heading);
    opacity: 0.8;
  }

  &__artists {
    opacity: 0.8;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width: 767px) {
    flex-flow: row nowrap;
    padding: 10%;

    &__cover,
    &__details {
      width: 50%;
      max-width: 495px;
    }

    &__details {
      text-align: center;
    }
  }
}
